<!DOCTYPE html>
<html lang="en">
<head>
<title>Form Pendaftaran Beasiswa | Portal Beasiswa</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/css/uniform.css" />
<link rel="stylesheet" href="/css/select2.css" />
<link rel="stylesheet" href="/css/maruti-style.css" />
<link rel="stylesheet" href="/css/maruti-media.css" class="skin-color" />
</head>
<body>

<!--Header-part-->
<div id="header">
	<h2><font face="Agency FB" size="5" color="white">Portal Beasiswa   ||</font> <font face="Agency FB" size="4" color="white">Universitas X</font></h2>
</div>
<!--close-Header-part--> 

<!--top-Header-messaages-->
<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>
<!--close-top-Header-messaages--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
  </ul>
</div>
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-left" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-Header-menu-->

<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard2</a>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/" class="tip-bottom"><i class="icon-home"></i> Beranda</a><a href="/register" class="tip-bottom"><i class="icon-user"></i> Register</a><a href="#" class="current">Register Yayasan Donatur </a></div>
	<h1>Pendaftaran</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-pencil"></i>									
				</span>
				<h5>Form Pendaftaran Yayasan Donatur</h5>
			</div>
			<div class="widget-content nopadding">
				<form class="form-horizontal" method="post" th:action="@{/register/submit/yayasan}" id="form" onsubmit="return validateForm()">
					<div class="control-group">
						<label class="control-label">User Name</label>
						<div class="controls">
							<input type="text" id="username" maxlength="20" placeholder="Maksimal 20 karakter" name="username">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Password</label>
						<div class="controls">
							<input type="password" id="password" maxlength="20" placeholder="Maksimal 20 karakter" name="password">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Nomor Identitas</label>
						<div class="controls">
							<input type="text" id="nomor_identitas" name="nomor_identitas" maxlength="16" placeholder="Maksimal 16 karakter">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Nomor SK Yayasan</label>
						<div class="controls">
							<input type="text" id="no_sk_yayasan" name="no_sk_yayasan" maxlength="20" placeholder="Maksimal 20 karakter">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Email</label>
						<div class="controls">
							<input type="text" id="required" name="email" maxlength="50" placeholder="Maksimal 50 karakter" >
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Nama Yayasan</label>
						<div class="controls">
							<input type="text" id="nama" name="nama" maxlength="50" placeholder="Maksimal 50 karakter">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Nomor Telepon Contact Person</label>
						<div class="controls">
							<input type="text" id="no_telp_cp" name="no_telp_cp" maxlength="20" placeholder="Maksimal 20 karakter">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">NPWP</label>
						<div class="controls">
							<input type="text" id="npwp" name="npwp" maxlength="20" placeholder="Maksimal 20 karakter">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Alamat Yayasan</label>
						<div class="controls">
							<textarea class="span5" id="alamat" name="alamat"></textarea>
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" value="Simpan" class="btn btn-success">
					</div>
				</form>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>
<script>
	function validateForm() {
		var regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,20}$/;
		if (document.getElementById('username').value==""){
	        alert("Username harus diisi");
	        document.form.username.focus() ;
	        return false;
	    }else if (document.getElementById('nomor_identitas').value==""){
	        alert("Nomor identitas harus diisi");
	        document.form.nomor_identitas.focus() ;
	        return false;
	    }else if (document.getElementById('no_sk_yayasan').value==""){
	        alert("Nomor SK yayasan harus diisi");
	        document.form.no_sk_yayasan.focus() ;
	        return false;
	    }else if (document.getElementById('email').value==""){
	        alert("E-mail harus diisi");
	        document.form.email.focus() ;
	        return false;
	    }else if (document.getElementById('nama').value==""){
	        alert("Nama lengkap harus diisi");
	        document.form.nama.focus() ;
	        return false;
	    }else if (document.getElementById('npwp').value==""){
	        alert("Nomor NPWP tinggal harus diisi");
	        document.form.npwp.focus() ;
	        return false;
	    }else if (document.getElementById('alamat').value==""){
	        alert("Alamat harus diisi");
	        document.form.alamat.focus() ;
	        return false;
	    }}else if (regex.test(document.getElementById('password').value)) {
	        return true;
	    }else {
	    	alert("Password harus terdiri dari angka dan bilangan, panjang minimal 8 karakter");
	        return false;
	    }
	}
</script>
<div class="row-fluid">
  <div id="footer" class="span12"> 2012 &copy; Marutii Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.uniform.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/maruti.js"></script>
<script src="/js/maruti.form_validation.js"></script>
</body>
</html>
