<!DOCTYPE html>
<html lang="en">
<head>
<title>Form Pendaftaran Beasiswa | Portal Beasiswa</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/css/uniform.css" />
<link rel="stylesheet" href="/css/select2.css" />
<link rel="stylesheet" href="/css/maruti-style.css" />
<link rel="stylesheet" href="/css/maruti-media.css" class="skin-color" />
</head>
<body>

<!--Header-part-->
<div id="header">
  <h2><font face="Agency FB" size="5" color="white">Portal Beasiswa   ||</font> <font face="Agency FB" size="4" color="white">Universitas X</font></h2>
</div>
<!--close-Header-part--> 

<!--top-Header-messaages-->
<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>
<!--close-top-Header-messaages--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
  </ul>
</div>
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-left" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-Header-menu-->

<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard2</a>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/" class="tip-bottom"><i class="icon-home"></i> Beranda</a></div>
	<h1>Pendaftaran</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-pencil"></i>									
				</span>
				<h5>Form Pendaftaran</h5>
			</div>
			<div class="widget-content nopadding">
				<form class="form-horizontal" th:action="@{/register/submit}" name="form" method="post" onsubmit="return validateForm()">
					<div class="control-group">
						<label class="control-label">Pilih Role</label>
						<div class="controls">
							<select class="select2-containername"  name="role" id="role" onchange='showRole()'>
								<option value="" selected="selected" disabled="disabled">--Pilih Role--</option>
								<option value="ROLE_MAHASISWA">Mahasiswa</option>
								<option value="ROLE_DONATUR">Donatur</option>
							</select>
						</div>
					</div>
					<div id="jenis_donatur" style="display: none">
						<div class="control-group">
							<label class="control-label">Jenis Donatur</label>
							<div class="controls">
								<select class="select2-containername"  name="jenis_donatur" id="jenisDonatur" onchange='showJenisDonatur()'>
									<option value="" selected="selected" disabled="disabled">--Pilih Jenis Donatur--</option>
									<option value="check_I">Individual</option>
									<option value="check_Y">Yayasan</option>
								</select>
								<div class="form-actions" style="display: none" id="i">
									<a class="nav-link" href="/register-individual" data-rel="popup"><button type="button" class="btn btn-success">Lanjutkan Proses Pendaftaran</button></a>
								</div>
								<div class="form-actions" style="display: none" id="y">
									<a class="nav-link" href="/register-yayasan" data-rel="popup"><button type="button" class="btn btn-success">Lanjutkan Proses Pendaftaran</button></a>
								</div>
							</div>
						</div>
					</div>
					<div id="mahasiswa" style="display: none">
						<div class="control-group">
							<label class="control-label">User Name</label>
							<div class="controls">
								<input type="text" maxlength="20" placeholder="Maksimal 20 karakter" id="username" th:value="${pengguna.username}" name="username">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Password</label>
							<div class="controls">
								<input type="password" maxlength="20" placeholder="Maksimal 20 karakter" id="password" th:value="${pengguna.password}" name="password">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">NPM</label>
							<div class="controls">
								<input type="text" id="npm" maxlength="20" placeholder="Maksimal 20 digit" name="npm" th:value="${mahasiswa.npm}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Email</label>
							<div class="controls">
								<input type="text" id="email" maxlength="50" placeholder="Maksimal 50 karakter" name="email" th:value="${mahasiswa.email}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Nama Lengkap</label>
							<div class="controls">
								<input type="text" id="nama" name="nama" maxlength="50" placeholder="Maksimal 50 karakter" th:value="${mahasiswa.nama}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Nomor Telepon</label>
							<div class="controls">
								<input type="text" id="no_telp" name="no_telp" th:value="${mahasiswa.no_telp}" maxlength="20" placeholder="Maksimal 20 karakter">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Alamat Tempat Tinggal</label>
							<div class="controls">
								<textarea class="span5" id="alamat_tinggal" name="alamat_tinggal" th:value="${mahasiswa.alamat_tinggal}"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Alamat Domisili</label>
							<div class="controls">
							  <textarea class="span5" id="alamat_domisili" name="alamat_domisili" th:value="${mahasiswa.alamat_domisili}"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Instansi Bank</label>
							<div class="controls">
								<input type="text" id="nama_bank" name="nama_bank" th:value="${mahasiswa.nama_bank}" maxlength="50" placeholder="Maksimal 50 karakter">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Nomor Rekening</label>
							<div class="controls">
								<input type="text" id="no_rekening" name="no_rekening" th:value="${mahasiswa.no_rekening}" maxlength="20" placeholder="Maksimal 20 karakter">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Nama Pemilik</label>
							<div class="controls">
								<input type="text" id="nama_pemilik" name="nama_pemilik" th:value="${mahasiswa.nama_pemilik}" maxlength="50" placeholder="Maksimal 50 karakter">
							</div>
						</div>
						<div class="form-actions">
							<input type="submit"value="Simpan" class="btn btn-success">
						</div>
  					</div>
			</div>
<script type = "text/javascript">
	function showRole(){
		if (document.getElementById('role').value=="ROLE_MAHASISWA") {
			document.getElementById('mahasiswa').style.display = 'block';
			document.getElementById('jenis_donatur').style.display = 'none';
		} else {
			document.getElementById('jenis_donatur').style.display = 'block';
			document.getElementById('mahasiswa').style.display = 'none';
		}
	}
	
	function showDonatur(){
	if (document.getElementById('role').val=="1") {
		document.getElementById('individual').style.display = 'block';
		document.getElementById('yayasan').style.display = 'none';
	} else {
		document.getElementById('individual').style.display = 'none';
		document.getElementById('yayasan').style.display = 'block';
		
	}
	}
	function showJenisDonatur(){
		if (document.getElementById('jenisDonatur').value=="check_I") {
			document.getElementById('i').style.display = 'block';
			document.getElementById('y').style.display = 'none';
		} else {
			document.getElementById('i').style.display = 'none';
			document.getElementById('y').style.display = 'block';
			
		}
	}
	
	function validateForm() {
		var regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,20}$/;
		if (document.getElementById('username').value==""){
	        alert("Username harus diisi");
	        document.form.username.focus() ;
	        return false;
	    }else if (document.getElementById('npm').value==""){
	        alert("NPM harus diisi");
	        document.form.npm.focus() ;
	        return false;
	    }else if (document.getElementById('email').value==""){
	        alert("E-mail harus diisi");
	        document.form.email.focus() ;
	        return false;
	    }else if (document.getElementById('nama').value==""){
	        alert("Nama lengkap harus diisi");
	        document.form.nama.focus() ;
	        return false;
	    }else if (document.getElementById('alamat_tinggal').value==""){
	        alert("Alamat tempat tinggal harus diisi");
	        document.form.alamat_tinggal.focus() ;
	        return false;
	    }else if (document.getElementById('alamat_domisili').value==""){
	        alert("Alamat domisili harus diisi");
	        document.form.alamat_domisili.focus() ;
	        return false;
	    }else if (document.getElementById('nama_bank').value==""){
	        alert("Instansi bank harus diisi");
	        document.form.nama_bank.focus() ;
	        return false;
	    }else if (document.getElementById('no_rekening').value==""){
	        alert("Nomor rekening harus diisi");
	        document.form.no_rekening.focus() ;
	        return false;
	    }else if (document.getElementById('nama_pemilik').value==""){
	        alert("Nama pemilik harus diisi");
	        document.form.nama_pemilik.focus() ;
	        return false;
	    }else if (regex.test(document.getElementById('password').value)) {
	        return true;
	    }else {
	    	alert("Password harus terdiri dari angka dan bilangan, panjang minimal 8 karakter");
	        return false;
	    }
	}
</script>
<div class="row-fluid">
  <div id="footer" class="span12"> 2012 &copy; Marutii Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.uniform.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/maruti.js"></script>
<script src="/js/maruti.form_validation.js"></script>
</body>
</html>
