<!DOCTYPE html>
<html lang="en">
<head>
<title>Form Pengumuman| Portal Beasiswa</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/css/uniform.css" />
<link rel="stylesheet" href="/css/select2.css" />
<link rel="stylesheet" href="/css/maruti-style.css" />
<link rel="stylesheet" href="/css/maruti-media.css" class="skin-color" />
<link rel="stylesheet" href="/css/datepicker.css" />
</head>
<body>
<div th:replace="fragments/fragment :: header"></div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" class="tip-bottom"><i class="icon-home"></i> Tambah Pengumuman</a></div>
	<h1></h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-file"></i>									
				</span>
				<h5>Form Pengumuman</h5>
			</div>
			<div class="widget-content nopadding">
				<form class="form-horizontal" method="post" th:action="@{/form-pengumuman-tambah/simpan}" th:object="${pengumuman}" name="form" onsubmit="return validateForm()">
					<div class="control-group">
						<input type="text" name="kode_skema_beasiswa" th:value="${pengumuman.kode_skema_beasiswa}" style="display: none">
						<input type="text" name="no_urut" th:value="${pengumuman.no_urut_skema_beasiswa_aktif}" style="display: none">
						<label class="control-label">Judul</label>
						<div class="controls">
							<input type="text" id="judul" name="judul">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Isi</label>
						<div class="controls">
							<textarea class="span8" id="isi" name="isi"></textarea>
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" value="Simpan" class="btn btn-success">
					</div>
				</form>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>
<script>
	function validateForm() {
		if (document.getElementById('judul').value==""){
	        alert("Judul pengumuman harus diisi");
	        document.form.judul.focus() ;
	        return false;
	    }else if (document.getElementById('isi').value==""){
	        alert("Isi pengumuman harus diisi");
	        document.form.isi.focus() ;
	        return false;
	    }
	}
</script>
<div class="row-fluid">
  <div id="footer" class="span12"> 2012 &copy; Marutii Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.uniform.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/maruti.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/maruti.form_validation.js"></script>
<script src="/js/bootstrap-colorpicker.js"></script>
<script src="/js/maruti.form_common.js"></script> 
</body>
</html>
