<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Fragment</title>
			<link rel="stylesheet" href="/css/bootstrap.min.css" />
			<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
			<link rel="stylesheet" href="/css/uniform.css" />
			<link rel="stylesheet" href="/css/select2.css" />
			<link rel="stylesheet" href="/css/maruti-style.css" />
			<link rel="stylesheet" href="/css/maruti-media.css" class="skin-color" />
	</head>
	<body>
		<div th:fragment="header">
			<!--Header-part-->
			<div id="header">
			  <h2><font face="Agency FB" size="5" color="white">Portal Beasiswa   ||</font> <font face="Agency FB" size="4" color="white">Universitas X</font></h2>
			</div>
			<!--close-Header-part--> 
			
			<!--top-Header-messaages-->
			<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>
			<!--close-top-Header-messaages--> 
			
			<!--top-Header-menu-->
			<div id="user-nav" class="navbar navbar-inverse">
			  <ul class="nav">
  			    <li class="" th:if="${#httpServletRequest.isUserInRole('DONATUR') || #httpServletRequest.isUserInRole('ADMIN') || #httpServletRequest.isUserInRole('MAHASISWA')}">
  			    <form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout"/>
				</form>
  			    </li>
			    <li class="" th:unless="${#httpServletRequest.isUserInRole('DONATUR') || #httpServletRequest.isUserInRole('ADMIN') || #httpServletRequest.isUserInRole('MAHASISWA')}"><a title="" href="/login"><i class="icon icon-user"></i> <span class="text">Login</span></a></li>
			  </ul>
			</div>
			<div id="search">
			  <input type="text" placeholder="Search here..."/>
			  <button type="submit" class="tip-left" title="Search"><i class="icon-search icon-white"></i></button>
			</div>
			<!--close-top-Header-menu-->
			
			<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard2</a>
			  <ul>
			    <li class="active"><a href="/"><i class="icon icon-home"></i> <span>Beranda</span></a> </li>
			    <li th:if="${#httpServletRequest.isUserInRole('MAHASISWA')}" ><a href="/form-daftar-beasiswa"><i class="icon icon-edit"></i> <span>Daftar Beasiswa</span></a> </li>		  	
			  	<li th:if="${#httpServletRequest.isUserInRole('ADMIN')}" ><a href="/tempat-wawancara/add"><i class="icon icon-pencil"></i> <span>Membuat Tempat Wawancara</span></a></li>
			  	<li th:if="${#httpServletRequest.isUserInRole('ADMIN')}" ><a href="/viewall-tempat-wawancara"><i class="icon icon-book"></i> <span>Lihat Tempat Wawancara</span></a></li>
			  	<li class="submenu" th:if="${#httpServletRequest.isUserInRole('DONATUR')}"> <a href="#"><i class="icon icon-book"></i> <span>Membuat Beasiswa Baru</span><span >&#9660</span></a>
			      <ul>
			        <li><a href="/form-skema-tambah">Membuat Paket Beasiswa</a></li>
			        <li><a href="/form-beasiswa-tambah">Menambah Beasiswa Dari Paket</a></li>
			      </ul>
			    </li>
			    <li th:if="${#httpServletRequest.isUserInRole('DONATUR')}"> <a href="/form-pembayaran-tambah"><i class="icon icon-folder-close"></i> <span>Laporan Pembayaran</span></a> </li>
			    <li th:if="${#httpServletRequest.isUserInRole('DONATUR')}"><a href="/view-beasiswa"><i class="icon icon-list-alt"></i> <span>Lihat Beasiswa Saya</span></a></li>
			    <li><a href="/viewall-pengumuman"><i class="icon icon-bullhorn"></i> <span>Lihat Pengumuman</span></a></li>
			  </ul>
			</div>
		</div>
		<script src="/js/jquery.min.js"></script> 
		<script src="/js/jquery.ui.custom.js"></script> 
		<script src="/js/bootstrap.min.js"></script> 
		<script src="/js/jquery.uniform.js"></script> 
		<script src="/js/select2.min.js"></script> 
		<script src="/js/jquery.dataTables.min.js"></script> 
		<script src="/js/maruti.js"></script> 
		<script src="/js/maruti.tables.js"></script>	
	</body>
</html>	