<!DOCTYPE html>
<html lang="en">
<head>
<title>Detail Beasiswa Aktif | Portal Beasiswa</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/css/uniform.css" />
<link rel="stylesheet" href="/css/select2.css" />
<link rel="stylesheet" href="/css/maruti-style.css" />
<link rel="stylesheet" href="/css/maruti-media.css" class="skin-color" />
</head>
<body>
<div th:replace="fragments/fragment_donatur :: header"></div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/donatur/viewall-pengumuman" class="tip-bottom"><i class="icon-home"></i> Lihat Pengumuman</a><a href="#" class="current"> Detail Pengumuman</a></div>
	<h1>Donatur</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span> 
            <h5>Pengumuman Hasil Beasiswa Aktif</h5>
          </div>
          <div class="widget-content">
			<h3>Beasiswa S2 University of Edinburgh - 1001</h3>
			<h5>Beasiswa Prestasi dibuat oleh 122214894851</h5>
			<h5>[merupakan batuan basiswa terhadap mahasiswa yang berprestasi]</h5>
			<h5>Syarat Beasiswa : Minimal IPS=3.3</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id="footer" class="span12"> 2012 &copy; Marutii Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<script src="/js/jquery.min.js"></script> 
<script src="/js/jquery.ui.custom.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.uniform.js"></script> 
<script src="/js/select2.min.js"></script> 
<script src="/js/jquery.dataTables.min.js"></script> 
<script src="/js/maruti.js"></script> 
<script src="/js/maruti.tables.js"></script>
</body>
</html>
