<!DOCTYPE html>
<html lang="en">
<head>
<title>Daftar Beasiswa Aktif | Portal Beasiswa</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/css/uniform.css" />
<link rel="stylesheet" href="/css/select2.css" />
<link rel="stylesheet" href="/css/maruti-style.css" />
<link rel="stylesheet" href="/css/maruti-media.css" class="skin-color" />
</head>
<body>
<div th:replace="fragments/fragment_donatur :: header"></div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/donatur/view-beasiswa" class="tip-bottom"><i class="icon-home"></i> Lihat Beasiswa Saya</a></div>
	<h1>Donatur</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span> 
            <h5>List Beasiswa</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
	       			<th>No Urut Skema Beasiswa</th>
	       			<th>Kode Skema</th>
	       			<th>Waktu Penutupan</th>
	       			<th>Status</th>
	       			<th>Jumlah Pendaftar</th>
	       			<th>Rincian</th>
                </tr>
              </thead>
              <tbody>
                  <tr th:each="beasiswa,iterationStatus: ${beasiswaAktif}">
                 	<td th:text="${beasiswa.no_urut}"></td>
   					<td th:text="${beasiswa.nama}"></td>
   					<td th:text="${beasiswa.tgl_tutup_pendaftaran}"></td>
   					<td th:text="${beasiswa.status}"></td>
   					<td th:text="${beasiswa.jumlah_pendaftar}"></td>
   					<td><a th:href="'/donatur/view-detail-beasiswa/'+ ${beasiswa.kode_skema_beasiswa} +'/'+${beasiswa.no_urut}"><button type="button" class="btn btn-info" >
   					Detail</button></a></td>
   				</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id="footer" class="span12"> 2012 &copy; Marutii Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<script src="/js/jquery.min.js"></script> 
<script src="/js/jquery.ui.custom.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.uniform.js"></script> 
<script src="/js/select2.min.js"></script> 
<script src="/js/jquery.dataTables.min.js"></script> 
<script src="/js/maruti.js"></script> 
<script src="/js/maruti.tables.js"></script>
</body>
</html>
