<!DOCTYPE html>
<html lang="en">
<head>
<title>Form Pendaftaran Beasiswa | Portal Beasiswa</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/css/uniform.css" />
<link rel="stylesheet" href="/css/select2.css" />
<link rel="stylesheet" href="/css/maruti-style.css" />
<link rel="stylesheet" href="/css/maruti-media.css" class="skin-color" />
</head>
<body>
<div th:replace="fragments/fragment_mhs :: header"></div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" class="tip-bottom"><i class="icon-home"></i> Daftar Beasiswa Aktif</a><a href="#" class="current">Form Pendaftaran Beasiswa </a></div>
	<h1>Mahasiswa</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-pencil"></i>									
				</span>
				<h5>Form Pendaftaran Beasiswa</h5>
			</div>
			<div class="widget-content nopadding">
				<form class="form-horizontal" method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate">
					<div class="control-group">
						<label class="control-label">Kode Beasiswa</label>
						<div class="controls">
							<select class="select2-containername"  name="jenis_beasiswa">
								<option value="" selected="selected">--Pilih Kode Beasiswa--</option>
								<option value="prestasi">Beasiswa 0001</option>
								<option value="bantuan">Beasiswa 0002</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">NPM</label>
						<div class="controls">
							<input type="text" id="required" name="npm" value="123456789" disabled>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Email</label>
						<div class="controls">
							<input type="text" id="required" name="email" value="basdat@ui.ac.id" disabled>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Indeks Prestasi Semester</label>
						<div class="controls">
							<input type="text" id="required" name="indeks_prestasi_semester">
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" onclick="alert('Berhasil Submit')" value="Simpan" class="btn btn-success">
					</div>
				</form>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id="footer" class="span12"> 2012 &copy; Marutii Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.uniform.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/maruti.js"></script>
<script src="/js/maruti.form_validation.js"></script>
</body>
</html>
